.page-header {
  .page-header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    @media (min-width: 1200px) {
      flex-direction: row;
    }

    .page-header__title {
      margin-top: 1rem;
      margin-bottom: 0;
      
      font-family: 'Bebas Neue', cursive;
      font-size: 50px;
      text-transform: uppercase;
      color: #e8603c;
  
      @media (min-width: 1200px) {
        font-size: 36px;
      }
  
      span {
        color: #f3af9d;
      }
    }
  }
}