.page-header {

}

.page-header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.page-header__logo {
  margin-top: 1rem;
  margin-bottom: 0;
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  line-height: 5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #e8603c;

  &:hover {
    opacity: .5;
  } 

  &--light {
    color: #f3af9d;
  }
}

@media (min-width: 768px) {
  .page-header__wrapper {
    flex-direction: row;
  }

  .page-header__logo {
    margin-top: 1.8rem;
    font-size: 4.6rem;
    line-height: 4.6rem;
  }
}